<main class="content">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="gamestat-tab" data-bs-toggle="tab" data-bs-target="#gamestat" type="button" role="tab" aria-controls="gamestat" aria-selected="false">Game Stat</button>
                      </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="systemstat-tab" data-bs-toggle="tab" data-bs-target="#systemstat" type="button" role="tab" aria-controls="systemstat" aria-selected="true">System Stat</button>
                    </li>                   					
                  </ul>	 						
            </div>	
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="gamestat" role="tabpanel" aria-labelledby="gamestat-tab">
                      <div class="bg-light p-2 mb-3"><h4><strong>User Engagement</strong></h4></div>
                      <div class="card mb-3">
                        <div class="card-header">
                            <p class="text-red mb-0"><strong>Active User</strong></p>
                        </div>
                        <div class="card-body mob-p-0">
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/day1.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/week.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2  mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/month.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2  mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/calendar.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2  mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2  mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="text-red mb-0"><strong>User Demographics</strong></p>
                        </div>
                        <div class="card-body mob-p-0">                          
                            <div class="card border mb-3">
                                <div class="card-body">
                                  <div class="row">
                                    <p><strong>Age Group</strong></p>
                                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12">
                                        <p class="mb-2">Teenager</p>
                                        <span class="badge light-badge me-2">12 to 17: 2,212,000 </span>
                                    </div>
                                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12">
                                        <p class="mb-2">Young Adults</p>
                                        <span class="badge light-badge me-2">18 to 25: 2,20,000 </span>
                                    </div>
                                    <div class="col-lg-2 col-xl-2 col-md-32 col-sm-3 col-12">
                                        <p class="mb-2">Adults</p>
                                        <span class="badge light-badge me-2">25 to 55: 72,000 </span>
                                    </div>
                                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-12">
                                        <p class="mb-2">Older Adults</p>
                                        <span class="badge light-badge me-2">55+: 74,000 </span>
                                    </div>                                
                                  </div>
                                   
                                </div>
                            </div>   
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <p><strong>Location</strong></p>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="text-red mb-0"><strong>Grounds</strong></p>
                        </div>
                        <div class="card-body mob-p-0"> 
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <p><strong>Location</strong></p>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                </div>
                            </div>                           
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <p class="text-red mb-0"><strong>Clubs</strong></p>
                        </div>
                        <div class="card-body mob-p-0">
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/day1.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/week.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/month.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/calendar.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <p><strong>Location</strong></p>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                </div>
                            </div>  
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <p class="text-red mb-0"><strong>Tournaments</strong></p>
                        </div>
                        <div class="card-body mob-p-0">
                            <div class="card border mb-3">
                                <div class="card-body">
                                    <p><strong>Location</strong></p>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2 mb-2">Bangalore: 2,52,562</span>                                   
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                    <span class="badge light-badge me-2  mb-2">Bangalore: 2,52,562</span>
                                </div>
                            </div>  

                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/day1.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/week.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/month.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 col-12">
                                    <div class="card border mb-3">
                                        <div class="card-body">
                                           <p><img src="../../../../assets/img/calendar.png" width="24" class="me-2"/><strong> Daily Active Users: 25,000</strong></p>
                                           <span class="badge light-badge me-2 mob-mb1">Players: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Umpires: 24,000</span>
                                           <span class="badge light-badge me-2 mob-mb1">Ground Owners: 24,000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>

                    </div>
                    <div class="tab-pane fade" id="systemstat" role="tabpanel" aria-labelledby="systemstat-tab">
                       system
                    </div>                 
                </div>
            </div>
        </div>

                            
    </div>
</main>