<div class="main">
    <main class="content">
        <div class="container-fluid p-0">
            <div class="card mb-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img src="../../../../assets/img/avatars/avatar.jpg" class="img-fluid avtar32"/> 
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 p-600">User ID</p>
                            <p class="mb-0">@abhishek</p>
                                </div>
                            </div>	
                        </div>
                        <div class="col-lg-9 col-sm-9 col-md-9 col-12">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <p class="mb-0 p-600">User Name</p>
                                    <p class="mb-0">Abhishek</p>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <p class="mb-0 p-600">Email</p>
                                    <p class="mb-0">abhishek@gmail.com</p>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <p class="mb-0 p-600">Contact Number</p>
                                    <p class="mb-0">9246256155</p>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1" checked>														
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="TabLink row">
                <li class="col-4 p-0"><a href="player-details.html" class="">Game Details</a></li>
                <li class="col-4 p-0"><a href="player-payment-details.html" class="active">Payment Details</a></li>
                <li class="col-4 p-0"><a href="player-game-stats.html" class="">Game Stats</a></li>
            </ul>

            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">								
                        <div class="col-12">
                            <ul class="nav inner-nav-tabs border-0" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="groundBooking-tab" data-bs-toggle="tab" data-bs-target="#groundBooking" type="button" role="tab" aria-controls="groundBooking" aria-selected="true">Ground Bookings</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="tournamentBooking-tab" data-bs-toggle="tab" data-bs-target="#tournamentBooking" type="button" role="tab" aria-controls="tournamentBooking" aria-selected="false">Tournament Bookings</button>
                                </li>	
                                                        
                              </ul>	 
                        </div>
                    </div>							
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="groundBooking" role="tabpanel" aria-labelledby="groundBooking-tab">
                            <div class="table-responsive">
                                <table class="table mb-0">											
                                    <tbody>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        
                                                                                
                                    </tbody>
                                </table>
                            </div>									
                        </div>
                        <div class="tab-pane fade" id="tournamentBooking" role="tabpanel" aria-labelledby="players-tab">
                            <div class="table-responsive">
                                <table class="table mb-0">											
                                    <tbody>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        <tr>																								
                                            <td>	
                                                <div class="row align-self-center">
                                                    <div class="col-auto">
                                                        <img src="../../../../assets/img/rupee-icon.svg"/>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="mb-0 p-600">Purchased Warrior Cup Pass</p>
                                                <p class="mb-0 p-12">Payed Via UPI</p>
                                                <p class="mb-0 p-12">12:35PM on 17 Aug 2024</p>
                                                    </div>
                                                </div>	
                                                            
                                            </td>
                                            <td><span class="badge light-badge">Purchase Made by: Abhishek (@abhishek)</span></td>
                                            <td><span class="badge light-badge">Invoice Number: 2457922</span></td>
                                            <td><h4 class="text-success p-600">₹ 1,650</h4></td>																								
                                        </tr>
                                        
                                                                                
                                    </tbody>
                                </table>
                            </div>										
                        </div>
                      </div>	
                </div>
            </div>					
        </div>
    </main>

    
</div>