<main class="content">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-xl-4 col-12 mob-mb1">
                        <div class="form-group mb-0">
                            <span class="input-icon-left"><i class="align-middle" data-feather="search"></i></span>
                            <input type="text" class="form-control form-control-search"
                                placeholder="Seach by package name, fees, validity">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4col-12 mob-mb1">
                        <div class="form-group mb-0">
                           <select class="form-select">
                            <option>Select City</option>
                            <option>Bengaluru</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4col-12 mob-mb1 text-end">
                        <button type="button" class="btn btn-primary">+ Create New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive  border-rounded p-2">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Club Name</th>
                                <th scope="col">Club ID</th>
                                <th scope="col">Member</th>
                                <th scope="col">City</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="../../../../assets/img/club.png" class="avtar32 me-2" /> Avengers Club</td>
                                <td>55247</td>
                                <td>250</td>
                                <td>Bengaluru</td>
                                <td>Abhi</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="plauer1">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>