<main class="content">
    <div class="container-fluid p-0">
        <div class="card">	
            <div class="card-header">
                <div class="row">								
                    <div class="col-lg-4 col-xl-4 col-12 desktop-end">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="palyersSupport-tab" data-bs-toggle="tab" data-bs-target="#palyersSupport" type="button" role="tab" aria-controls="palyersSupport" aria-selected="false">Players</button>
                              </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="umpairesSupport-tab" data-bs-toggle="tab" data-bs-target="#umpairesSupport" type="button" role="tab" aria-controls="umpairesSupport" aria-selected="true">Umpaires</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="groundownersSupport-tab" data-bs-toggle="tab" data-bs-target="#groundownersSupport" type="button" role="tab" aria-controls="groundownersSupport" aria-selected="false">Graound Owner</button>
                            </li>																
                          </ul>	 
                    </div>
                    
                </div>							
            </div>					
            <div class="card-body">							
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="palyersSupport" role="tabpanel" aria-labelledby="palyersSupport-tab">
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <p class="text-red"><strong>Abhishek</strong></p>
                                    </div>
                                    <div class="col-6 text-end">
                                        <p><strong>Ticket No.: 2451</strong></p>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <p class="text-red"><strong>Abhishek</strong></p>
                                    </div>
                                    <div class="col-6 text-end">
                                        <p><strong>Ticket No.: 2451</strong></p>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <p class="text-red"><strong>Abhishek</strong></p>
                                    </div>
                                    <div class="col-6 text-end">
                                        <p><strong>Ticket No.: 2451</strong></p>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>

                        
                    </div>
                    <div class="tab-pane fade" id="umpairesSupport" role="tabpanel" aria-labelledby="umpairesSupport-tab">
                         No Record Found
                    </div>
                    <div class="tab-pane fade" id="groundownersSupport" role="tabpanel" aria-labelledby="groundownersSupport-tab">
                        No record Found
                    </div>
                    
                    
                  </div>	
            </div>						
        </div>											
    </div>
</main>
