<main class="content">
    <div class="container-fluid p-0">
        <div class="card">	
            <div class="card-header">
                <div class="row align-items-center justify-content-between">	
                    <div class="col-lg-10 col-xl-10 col-sm-10 col-md-10 col-12 mob-mb1">
                        <h4 class="mb-0"><strong>26 August 2024</strong></h4>
                    </div>							
                    <div class="col-lg-2 col-xl-2 col-sm-2 col-md-2 col-12 desktop-end">
                        <a href="#"  class="btn btn-primary w-100">+ Create New</a>
                    </div>								
                </div>							
            </div>					
            <div class="card-body">							
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="palyersSupport" role="tabpanel" aria-labelledby="palyersSupport-tab">
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <p class="text-red"><strong>The game begins</strong></p>
                                    </div>
                                    <div class="col-2 text-end">
                                        <a href="#" class="text-dark"> <i class="align-middle" data-feather="trash-2"></i></a>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <p class="text-red"><strong>The game begins</strong></p>
                                    </div>
                                    <div class="col-2 text-end">
                                        <a href="#" class="text-dark"> <i class="align-middle" data-feather="trash-2"></i></a>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>
                        <div class="card border mb-3">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <p class="text-red"><strong>The game begins</strong></p>
                                    </div>
                                    <div class="col-2 text-end">
                                        <a href="#" class="text-dark"> <i class="align-middle" data-feather="trash-2"></i></a>
                                    </div>
                                </div>
                                <p>To sell on Amazon.in, you need to create a seller account. You will require GST or PAN details and an active bank account to register as a seller. Enter your business details, select shipment method and list your products to launch your store on Amazon.in.</p>
                                <p class="p-12 text-muted mb-0">2:30pm 26th August 2024</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="tab-pane fade" id="umpairesSupport" role="tabpanel" aria-labelledby="umpairesSupport-tab">
                         No Record Found
                    </div>
                    <div class="tab-pane fade" id="groundownersSupport" role="tabpanel" aria-labelledby="groundownersSupport-tab">
                        No record Found
                    </div>
                    
                    
                  </div>	
            </div>						
        </div>											
    </div>
</main>