<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid p-0">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="form-group mb-0">
                  <span class="input-icon-left"><i class="align-middle" data-feather="search"></i></span>
                  <input type="text" class="form-control form-control-search" placeholder="Search Grounds">
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="form-group mb-0">
                  <select class="form-select">
                    <option>Select City</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                <div class="form-group mb-0">
                  <select class="form-select">
                    <option>Select Game</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-2 d-flex align-items-center">
                <button class="btn btn-primary w-100" [routerLink]="['/grounds/create-ground']">Create Ground</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive  border-rounded p-2">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Ground Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td *ngIf="!groundAllList?.length" colspan="13">
                      <app-no-record-found></app-no-record-found>
                    </td>
                  </tr>

                  <tr
                    *ngFor="let item of groundAllList |  paginate: { itemsPerPage: pagesize , currentPage: page, totalItems: totalRecords } ; let i = index">
                    <td>
                      <img src="assets/img/ground-image.png" class="img-fluid" width="120" />
                    </td>
                    <td>{{item?.name}}</td>
                    <td>{{item?.createdBy?.name}}</td>
                    <td>{{item?.createdBy?.email}}</td>
                    <td>{{item?.createdBy?.mobile}}</td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="plauer1" checked>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="deleteGround(item._id)">
                        <i class="align-middle" data-feather="trash-2"></i> Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="row">
              <div class="pagination">
                <pagination-controls [maxSize]="5" (pageChange)="paginate($event)"></pagination-controls>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
