    <main class="content">
        <div class="container-fluid p-0">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-end">								
                        <div class="col-lg-4 col-xl-4 col-12 desktop-end">
                            <a href="javascript:void(0)" class="btn btn-primary">Post</a>
                            <a href="javascript:void(0)" class="btn btn btn-light">Reported</a>
                        </div>	
                    </div>							
                </div>	
                <div class="card-body">
                    <ul class="post-list">
                        <li class="mb-3">
                            <div class="card box-shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-auto col-xl-auto col-md-auto col-sm-auto col-3">
                                            <div class="avtar42">
                                                <img src="../../../../assets/img/avatars/avatar-2.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-xl-9 col-sm-9 col-md-9 col-7">
                                            <h4 class="mb-0"><strong>Tommy</strong></h4>
                                        </div>
                                        <div class="col-lg-2 col-xl-2 col-sm-2 col-md-2 col-2 text-end">
                                            <div class="form-check form-switch d-inline-block">
                                                <input class="form-check-input" type="checkbox" id="post1">														
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-top-image mb-3">
                                        <img src="../../../../assets/img/post-image.png"/>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-xl-3 col-lg-3 col-12">
                                            <ul class="like-share-link">
                                                <li><a href="#"><i class="align-middle me-2" data-feather="heart"></i></a>352</li>
                                                <li><a href="#"><i class="align-middle me-2" data-feather="message-square"></i></a>02</li>
                                                <li><a href="#"><i class="align-middle me-2" data-feather="send"></i></a>00</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-9 col-xl-9 col-12 desktop-end">
                                            <p class="text-muted mb-0">Club: Heroes   Location : Karnataka Time: 7:30PM  Date: 22/08/24</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Tommy</strong></p>
                                            <p>#Cricket #CricketMatch #CricketLovers #CricketLife #CricketWorldCup #CricketFans #CricketHighlights #CricketSeason #CricketAddict</p>
                                        </div>
                                    </div>
                                    <ul class="comment-list mt-3">
                                        <p><strong>Comments</strong></p>
                                        <li>
                                            <div class="row">
                                                <div class="col-11">
                                                    <p><strong>James_1</strong> <span class="text-muted">awesome movie!</span></p>
                                                </div>
                                                <div class="col-auto desktop-end">
                                                    <a href="#"><i class="align-middle me-2 text-dark" data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-11">
                                                    <p><strong>James_1</strong> <span class="text-muted">awesome movie!</span></p>
                                                </div>
                                                <div class="col-auto desktop-end">
                                                    <a href="#"><i class="align-middle me-2 text-dark" data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="card box-shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-lg-auto col-xl-auto col-md-auto col-sm-auto col-3">
                                            <div class="avtar42">
                                                <img src="../../../../assets/img/avatars/avatar-2.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-xl-9 col-sm-9 col-md-9 col-7">
                                            <h4 class="mb-0"><strong>Tommy</strong></h4>
                                        </div>
                                        <div class="col-lg-2 col-xl-2 col-sm-2 col-md-2 col-2 text-end">
                                            <div class="form-check form-switch d-inline-block">
                                                <input class="form-check-input" type="checkbox" id="post1">														
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-top-image mb-3">
                                        <img src="../../../../assets/img/post-image.png"/>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-xl-3 col-lg-3 col-12">
                                            <ul class="like-share-link">
                                                <li><a href="#"><i class="align-middle me-2" data-feather="heart"></i></a>352</li>
                                                <li><a href="#"><i class="align-middle me-2" data-feather="message-square"></i></a>02</li>
                                                <li><a href="#"><i class="align-middle me-2" data-feather="send"></i></a>00</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-9 col-xl-9 col-12 desktop-end">
                                            <p class="text-muted mb-0">Club: Heroes   Location : Karnataka Time: 7:30PM  Date: 22/08/24</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Tommy</strong></p>
                                            <p>#Cricket #CricketMatch #CricketLovers #CricketLife #CricketWorldCup #CricketFans #CricketHighlights #CricketSeason #CricketAddict</p>
                                        </div>
                                    </div>
                                    <ul class="comment-list mt-3">
                                        <p><strong>Comments</strong></p>
                                        <li>
                                            <div class="row">
                                                <div class="col-11">
                                                    <p><strong>James_1</strong> <span class="text-muted">awesome movie!</span></p>
                                                </div>
                                                <div class="col-auto desktop-end">
                                                    <a href="#"><i class="align-middle me-2 text-dark" data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-11">
                                                    <p><strong>James_1</strong> <span class="text-muted">awesome movie!</span></p>
                                                </div>
                                                <div class="col-auto desktop-end">
                                                    <a href="#"><i class="align-middle me-2 text-dark" data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

                                
        </div>
    </main>