<main class="content">
    <div class="container-fluid p-0">
        <div class="card mb-0">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img src="../../../../assets/img/avatars/avatar.jpg" class="img-fluid avtar32"/> 
                            </div>
                            <div class="col-8">
                                <p class="mb-0 p-600">User ID</p>
                        <p class="mb-0">@abhishek</p>
                            </div>
                        </div>	
                    </div>
                    <div class="col-lg-9 col-sm-9 col-md-9 col-12">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                <p class="mb-0 p-600">User Name</p>
                                <p class="mb-0">Abhishek</p>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <p class="mb-0 p-600">Email</p>
                                <p class="mb-0">abhishek@gmail.com</p>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                <p class="mb-0 p-600">Contact Number</p>
                                <p class="mb-0">9246256155</p>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="plauer1" checked>														
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="TabLink row">
            <li class="col-4 p-0"><a href="player-details.html" class="">Game Details</a></li>
            <li class="col-4 p-0"><a href="player-payment-details.html" class="">Payment Details</a></li>
            <li class="col-4 p-0"><a href="player-game-stats.html" class="active">Game Stats</a></li>
        </ul>

        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">								
                    <div class="col-12">
                        <ul class="nav inner-nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="Batting-tab" data-bs-toggle="tab" data-bs-target="#Batting" type="button" role="tab" aria-controls="Batting" aria-selected="true">Batting</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="Bowling-tab" data-bs-toggle="tab" data-bs-target="#Bowling" type="button" role="tab" aria-controls="Bowling" aria-selected="false">Bowling</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Career-tab" data-bs-toggle="tab" data-bs-target="#Career" type="button" role="tab" aria-controls="Career" aria-selected="false">Career</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Awards-tab" data-bs-toggle="tab" data-bs-target="#Awards" type="button" role="tab" aria-controls="Awards" aria-selected="false">Awards</button>
                            </li>	
                                                    
                          </ul>	 
                    </div>
                </div>							
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Batting" role="tabpanel" aria-labelledby="Batting-tab">
                        <div class="table-responsive">
                            <table class="table mb-0">		
                                <thead>
                                    <th scope="col">Batting</th>
                                    <th scope="col">Test</th>
                                    <th scope="col">ODI</th>
                                    <th scope="col">T20</th>
                                    <th scope="col">IPL</th>
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Matches</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Innings</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Runs</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Balls</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Balls</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Highest</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Average</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>SR</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>											
                                                                            
                                </tbody>
                            </table>
                        </div>									
                    </div>
                    <div class="tab-pane fade" id="Bowling" role="tabpanel" aria-labelledby="players-tab">
                        <div class="table-responsive">
                            <table class="table mb-0">		
                                <thead>
                                    <th scope="col">Batting</th>
                                    <th scope="col">Test</th>
                                    <th scope="col">ODI</th>
                                    <th scope="col">T20</th>
                                    <th scope="col">IPL</th>
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Matches</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Innings</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Runs</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Balls</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Balls</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Highest</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>Average</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>
                                    <tr>																								
                                        <td>SR</td>
                                        <td>7</td>
                                        <td>138</td>	
                                        <td>106</td>																				
                                        <td>134</td>
                                    </tr>											
                                                                            
                                </tbody>
                            </table>
                        </div>										
                    </div>
                    <div class="tab-pane fade" id="Career" role="tabpanel" aria-labelledby="players-tab">
                        <div class="table-responsive">
                            <table class="table mb-0">		
                                <thead class="table-light">
                                    <th scope="col">T20</th>	
                                    <th scope="col"></th>
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Debut</td>
                                        <td>Info of the first match played </td>
                                    </tr>
                                    <tr>																								
                                        <td>Last Played</td>
                                        <td>Info of the first match played </td>
                                    </tr>								
                                </tbody>
                            </table>
                            <table class="table mb-0">		
                                <thead class="table-light">
                                    <th scope="col">IPL</th>
                                    <th scope="col"></th>												
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Debut</td>
                                        <td>Info of the first match played </td>
                                    </tr>
                                    <tr>																								
                                        <td>Last Played</td>
                                        <td>Info of the first match played </td>
                                    </tr>								
                                </tbody>
                            </table>
                            <table class="table mb-0">		
                                <thead class="table-light">
                                    <th scope="col">T20</th>	
                                    <th scope="col"></th>											
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Debut</td>
                                        <td>Info of the first match played </td>
                                    </tr>
                                    <tr>																								
                                        <td>Last Played</td>
                                        <td>Info of the first match played </td>
                                    </tr>								
                                </tbody>
                            </table>
                            <table class="table mb-0">		
                                <thead class="table-light">
                                    <th scope="col">IPL</th>
                                    <th scope="col"></th>												
                                </thead>									
                                <tbody>
                                    <tr>																								
                                        <td>Debut</td>
                                        <td>Info of the first match played </td>
                                    </tr>
                                    <tr>																								
                                        <td>Last Played</td>
                                        <td>Info of the first match played </td>
                                    </tr>								
                                </tbody>
                            </table>
                        </div>										
                    </div>
                    <div class="tab-pane fade" id="Awards" role="tabpanel" aria-labelledby="players-tab">
                        <div class="table-responsive">
                            <table class="table mb-0">											
                                <tbody>
                                    <tr>																								
                                        <td class="dark-record">	
                                            <img src="../../../../assets/img/icons/cricket-player-with-bat.png" class="me-2"><strong>Best Batsman</strong>																	
                                        </td>
                                        <td align="center"><strong>X5</strong></td>																																				
                                    </tr>
                                    <tr>																								
                                        <td class="dark-record">	
                                            <img src="../../../../assets/img/bowler.png" class="me-2"><strong>Best Bowler</strong>																	
                                        </td>
                                        <td align="center"><strong>X5</strong></td>																																				
                                    </tr>
                                    <tr>																								
                                        <td class="dark-record">	
                                            <img src="../../../../assets/img/filder.png" class="me-2"><strong>Best Filder</strong>																	
                                        </td>
                                        <td align="center"><strong>X5</strong></td>																																				
                                    </tr>
                                    <tr>																								
                                        <td class="dark-record">	
                                            <img src="../../../../assets/img/catch.png" class="me-2"><strong>Best Catch</strong>																	
                                        </td>
                                        <td align="center"><strong>X5</strong></td>																																				
                                    </tr>
                                    <tr>																								
                                        <td class="red-record">	
                                            <strong>Man of the Tournament</strong>																	
                                        </td>
                                        <td align="center"><strong>X5</strong></td>																																				
                                    </tr>
                                    
                                                                            
                                </tbody>
                            </table>
                        </div>										
                    </div>
                  </div>	
            </div>
        </div>					
    </div>
</main>