<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="/user/home">
            <span class="align-middle">
                <img src="assets/img/zinga-logo.png" width="150" />
            </span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/home">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Users</span>
                </a>
            </li>
            <!-- <li class="sidebar-item active">
                <a class="sidebar-link" href="menu-management.html">
                    <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Users</span>
                </a>
            </li> -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="band-management-list.html">
                    <i class="align-middle" data-feather="aperture"></i> <span class="align-middle">Grounds</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="event-management-list.html">
                    <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Tournaments</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="customer-management-list.html">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Payments</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-in.html">
                    <i class="align-middle" data-feather="bar-chart"></i> <span class="align-middle">Community</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Statistics</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Notifications</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Clubs</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Support</span>
                </a>
            </li>

        </ul>

    </div>
</nav>