<main class="d-flex w-100">
  <div class="login-container d-flex flex-column">
    <div class="row vh-100 m-0">
      <div class="col-lg-7 col-xl-7 col-12 p-0">
        <div class="login-leftside text-center">
          <img src="assets/img/illustration-login.png" />
        </div>
      </div>
      <div
        class="col-lg-5 col-xl-5 col-sm-8 col-md-8 col-12 mx-auto d-table h-100 p-0 bg-white"
      >
        <div class="d-table-cell align-middle p-5">
          <div class="mt-4 mb-5 text-center">
            <h1><strong>Zinga</strong></h1>
          </div>
          <div class="LoginForm">
            <h1 class="h1"><strong>Forgot Password</strong></h1>
            <p class="lead mb-5">Reset password link</p>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Enter your email address</label>
                <input
                  class="form-control form-control-lg"
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                  formControlName="email"
                />
                <small
                  class="text-danger"
                  *ngIf="submitted  && f['email'].errors?.['required']"
                >
                  Email is required
                </small>
                <small
                  class="text-danger"
                  *ngIf=" submitted  && f['email'].errors?.['email']"
                >
                  Enter a valid email
                </small>
              </div>

              <div class="d-grid gap-2 mt-3 text-center">
                <button type="submit" class="btn btn-lg btn-primary">
                  Send Link to my email
                </button>
                <p>
                  Back to Sign In ?
                  <a routerLink="/login" class="text-muted">Go Back</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
